.cont {
  box-sizing: border-box;
  width: 393px;
  height: 96px;
  background: var(--grey-0);
  border: 1px solid var(--grey-2);
  border-radius: 4px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 24px;
}

.cont__div > h3 {
  font-family: var(--font-family-nunito);
  font-weight: var(--font-weigth-700);
  font-size: var(--font-size-16);
  line-height: 30px;
  color: var(--grey-4);
}

.cont__div > p {
  width: 138px;
  height: 22px;
  font-family: var(--font-family-nunito);
  font-weight: var(--font-weigth-400);
  font-size: var(--font-size-12);
  line-height: 22px;
  color: var(--grey-3);
}

.cont__result {
  font-family: var(--font-family-nunito);
  font-style: normal;
  font-weight: var(--font-weigth-400);
  font-size: var(--font-size-16);
  line-height: 22px;
  color: var(--grey-3);
  line-height: 30px;
  color: #000000;
}
